
.Board {
	padding: 10px;
	padding-top: 10px;
	margin: auto;
	width: 50%;
}

.Square {
	background-color: lightgray;
	border: solid 1px darkgray;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	height: 50px;
	width: 50px;
	padding: 1px;
}

.Square:hover {
	background-color: gray;
}

.Square:focus {
	background-color: yellow;
	border-style: outset;
}

.Square-left {
	border-left: 3px solid black;
}

.Square-top {
	border-top: 3px solid black;
}

.Square-right {
	border-right: 3px solid black;
}

.Square-bottom {
	border-bottom: 3px solid black;
}

.Button {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

.Button-Group {
	margin: auto;
	width: 50%;
}